.first-nav {
  display: flex;
}
.first-nav p {
  font-family: "Urbanist";
  font-weight: 500;
  size: 18px;
  line-height: 27px;
  align-items: center;
  color: #ffffff;
  width: 362px;
  height: 27px;
}
